* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bin-wrapper {
    position: relative;
}

.bin-indicator-active {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
    background: #F77A4E;
    border-radius: 100%;
}

.bin-indicator-disable {
    display: none;
}

.card-title {

}

.card-img {
    border-radius: 0 0 0 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F77A4E !important;
    border: 1px solid #F06F41 !important;
    --bs-btn-focus-shadow-rgb: 247, 122, 78;
    --bs-btn-active-border-color: 247, 122, 78;
}

.btn-primary:hover {
    background: #FF6D39 !important;
}

.btn-primary:active {
    background: #FF936C !important;
}

@media (max-width: 1024px) {

}

@media (max-width: 512px) {

}



